<div class="row">
  <div class="col-md-9 mx-auto">
    <div class="card card-body poll-info-container py-5">

      <h1 class="text-center"><strong>{{poll.pollTitle}}</strong></h1>
      
      <div class="poll-option-flex">

        <p>Choose your poll options: </p>
          <form class="polls-option-conainer" action="/vote/{{poll.id}}" method="POST">
            {{#each poll.polls}}
              <div>
              <input type="radio" id="{{pollOption}}" name="pollOptions" value="{{pollOption}}" class="pollOptionRadio"> <span></span> <label for="{{pollOption}}">{{pollOption}}</label>
              </div> 
            {{/each}}
            <div class="btn-2s">
              <button type="submit" class="btn btn-orange btn-vote">Vote</button>
              <a href="/poll/info/{{poll.id}}" class="btn btn-orange bg-swap btn-vote">View Results</a>
              
            </div>
          </form>
      </div>

    </div>
  </div>
</div>