<div class="row">
  
  <div class="col-md-8">
    
    <div class="card card-body poll-info create-poll-container">
      <h2>{{poll.pollTitle}}</h2>

      <canvas id="myChart" height="400px"></canvas>
    
      <div class="info-container">
        
        <div class="row">
          <div class="col-md-4">
            <p><span>Total</span> {{poll.totalVote}} votes</p>
          </div>
          <div class="col-md-4 top-votes">
            <h4>Top votes</h4>
            <div id="top-3" class="top-3-polls"></div>
          </div>
          <div class="col-md-4">
            <h4>Share poll</h4>
            <div class="share-btns">
              <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https://piepoll.herokuapp.com/poll/{{poll.id}}" class="btn btn-outline-primary bs-fb btn-block share-btn" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
              <a href="{{encodeURI poll.id}}" class="btn btn-outline-primary bs-whatsapp btn-block share-btn" target="_blank"><i class="fa fa-whatsapp"></i> Whatsapp</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 mx-auto share-this">
            <p>Share this Poll:</p>
            <button onclick="copylink()" type="button" data-toggle="tooltip" data-placement="bottom" class="copy-link" title="Link copied to clipboard">
              <input type="text" value="http://piepoll.herokuapp.com/poll/{{poll.id}}" id="pollLink" onclick="copylink()" readonly>
            </button>
          </div>
        </div>
        
      </div>
    </div>  
    {{!-- <div class="card card-body pie-chart create-poll-container">
    </div> --}}
  </div>

  <div class="col-md-4">
    <div class="card card-body latest-polls-container poll-info-progress">
      <h2>Poll Info</h2>
      <div class="poll-percent-container py-3">
        {{#each poll.polls}}
          <p>{{pollOption}} <small class="ml-auto">{{pollCount}} votes</small></p>
          <div class="progress my-2 poll-progress">
            <div class="progress-bar" role="progressbar" style="width: {{getPollPercent ../poll.totalVote pollCount}}%;" aria-valuenow="{{getPollPercent ../poll.totalVote pollCount}}" aria-valuemin="0" aria-valuemax="100">{{getPollPercent ../poll.totalVote pollCount}}%</div>
          </div>
        {{/each}}
      </div>

    </div>
  </div>
  

</div>

<script type="text/javascript" src="/assets/js/Chart.min.js"></script>    
<script>
 
  function getRandomColor(index) {
    let letters = '0123456789';
    let color = '#';
    for(let i = 0;i < 6; i++) {
      color += letters[Math.floor(Math.random() * 10)];
    }
    return color;
  }
  const ctx = document.getElementById("myChart").getContext("2d");
  let pollsArr = JSON.parse(decodeURI("{{jsonPoll}}"));
  let pollOptions = [];
  let pollCounts = [];
  let backgroundColors = [];
  let top3 = ``;
  
  pollsArr.map((item, index) => {
    backgroundColors.push(getRandomColor());
    pollOptions.push(item.pollOption);
    pollCounts.push(item.pollCount);
    if(index < 3) {
      top3 += `<p>${pollsArr[index].pollOption} <span>${pollsArr[index].pollCount} votes</span></p>`;
    }
  });
  document.getElementById('top-3').innerHTML = top3;
  const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      datasets: [{
          data: pollCounts,
          backgroundColor: backgroundColors,
          borderWidth: 4
      }],
      labels: pollOptions,
    },
    options: {
      tooltips: {
          mode: 'point'
      },
      legend: {
        position: 'bottom',
        display: true,
        labels: {
          fontFamily: 'Raleway',
          fontColor: 'black',
          fontSize: 14,
          boxWidth: 20,
        }
      }
    }
  });

</script>
